---
layout: default
title: Galerie
---
<div class="container">
  <ul class="gallery row">
    {% for item in site.data.gallery limit: 9 %}
      {% if item.media_type == 'IMAGE' %}
        {% include gallery_tile.html id=item.id caption=item.caption media_url=item.media_url many=false index=1 %}
      {% else %}
        {% for child in item.children%}
          {% include gallery_tile.html id=child.id caption=child.caption media_url=child.media_url many=true index=forloop.index %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
