---
layout: default
title: Gallerie
---
<div class="container">
  <div id="gallery" class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    {% for item in site.data.gallery %}
      {% assign random = forloop.index | modulo: 4 %}
      {% if random == 1 %}
        {% assign width_class = 'grid-item--width2' %}
      {% else %}
        {% assign width_class = '' %}
      {% endif %}

      <div class="grid-item {{ width_class }}">
        {% include gallery_card.html src=item.url date=item.date %}
      </div>
    {% endfor %}
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript">
  // element argument can be a selector string
  //   for an individual element
  var msnry = new Masonry( '.grid', {
    // options
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    gutter: '.gutter-sizer'
  });
</script>
