---
layout: default
title: Prestations
---
<div class="container">
  {% for section in site.data.tarifs.sections %}
    <h1>{{ section.title }}</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3" data-masonry='{"percentPosition": true }'>
      {% for subsection in section.subsections %}
        <div class="col mb-2">
          <div class="card tarif">
            <div class="card-body">
              <h5 class="card-title">{{ subsection.title }}</h5>
              <ul class="list-group list-group-flush">
                {% for line in subsection.lines %}
                  {% if line.sublines == nil %}
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>{{ line.title }}</div>
                        <span class="badge tarif__badge badge-pill">
                          {% if line.price_description == nil %}
                            {{ line.price }}€</span>
                          {% else %}
                            {{ line.price_description }}
                          {% endif %}
                        </span>
                      </div>
                      {% if line.description != nil %}
                        <small>({{ line.description }})</small>
                      {% endif %}
                      {% if line.duration != nil %}
                        <small>Durée {{ line.duration }}</small>
                      {% endif %}
                    </li>
                  {% else %}
                    <li class="list-group-item">
                      <span class="fw-bold">{{ line.title }}</span>
                      <ul class="list-group list-group-flush">
                        {% for subline in line.sublines %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ subline.title }}
                            <span class="badge tarif__badge badge-pill">
                              {% if subline.price_description == nil %}
                                {{ subline.price }}€</span>
                              {% else %}
                                {{ subline.price_description }}
                              {% endif %}
                            </span>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
