<li class="gallery__tile col-sm-12 col-md-6 col-lg-4 {% if include.index > 1 %}d-none{% endif %}">
  <a href="{{ include.media_url }}" data-lightbox="gallery">
    <figure class="gallery__figure">
      <picture class="gallery__picture">
        <img
          width="1080"
          height="1080"
          alt="{{ include.caption }}"
          class="gallery__image"
          src="{{ include.media_url }}"
        >
      </picture>
      <figcaption class="gallery__caption">
        {{ item.caption }}
      </figcaption>
    </figure>
    {% if include.many == true %}
      <div class="gallery__carousel-icon">
        <svg aria-label="Carousel" fill="currentColor" height="20" width="20" role="img" viewBox="0 0 48 48"><title>Carousel</title><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
      </div>
    {% endif %}
    <div class="gallery__overlay">
    </div>
  </a>
</li>
