<div id="modal-on-load" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Changement de nom</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Kuty Nail's s'appelle maintenant BeeKuty. Vous pouvez me retrouver
          sur instagram à <a href="https://www.instagram.com/beekuty47/">beekuty47</a>. Et sur
          facebook à <a href="https://www.facebook.com/profile.php?id=61566957219807">BeeKuty</a>
          (changement à venir).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
