<div id="modal-on-load" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Changement de nom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Kuty Nail's s'appelle maintenant BeeKuty. Vous pouvez me retrouver
          sur instagram à <a href="https://www.instagram.com/beekuty47/">beekuty47</a>. Et sur
          facebook à <a href="https://www.facebook.com/bee.kuty.nails">Kuty Nail's</a>
          (changement à venir).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
