<nav class="navbar navbar-expand-lg {{ include.navbar_class }}">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      {{ site.title }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% include navbar_item.html url='/galerie' label='Galerie' %}
        {% include navbar_item.html url='/tarifs'  label='Tarifs'  %}
        {% include navbar_item.html url='/contact' label='Contact' %}
      </ul>
    </div>
  </div>
</nav>
