body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 1rem;
}

header {
  .jumbotron {
    border-radius: 50% / 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0rem;
    background-color: $white-tr;
  }

  #main-title a {
    color: rgb(246, 19, 142);
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#prestations .card {
  .list-group-item {
    background: none;

    .list-group-item {
      padding: 0;
      border: none;
      span {
        margin-left: 1rem;
      }
    }
  }
  h5 {
    font-weight: bold;
    color: $info;
  }
}


#gallery {
  .insta-card {
    border: none;
    position: relative;
    z-index: 1;
    &:hover {
      z-index: 2;
    }

    .card-body {
      position: absolute;
      bottom: 0;
      left: 0;

      display: none;
      transition: all 0.3s;
      &:hover {
        display: block;
      }
    }

    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  $column-width: 16.66%;

  .gutter-sizer { width: 1%; }
  .grid-sizer, .grid-item { width: $column-width; margin-bottom: 5px; }
  .grid-item--width2 { width: 33.33%; }
}
