$nav-height: 5rem;
$nav-margin-y: 1rem;

.beenav {
  margin-top: $nav-margin-y;
  margin-bottom: $nav-margin-y;

  .beenav__item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: $nav-height;
    @media only screen and(max-width: 400px) {
      height: 3rem;
    }
  }

  .beenav__link {
    height: 100%;
    color: var(--bs-body-color);
    align-content: center;
    padding-right: 0;
    padding-left: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .beenav__item-0 { background-image: url('/assets/images/logo.png'); }
  .beenav__item-1 { background-image: url('/assets/images/link_background_1.png'); }
  .beenav__item-2 { background-image: url('/assets/images/link_background_2.png'); }
  .beenav__item-3 { background-image: url('/assets/images/link_background_3.png'); }
}
