/* Please use this application to name coulor variables */
/* https://www.color-blindness.com/color-name-hue/ */

$wild-sand: #F2EFED;
$night-rider: #333333;
$pale-prim: #FAF5A6;
$sweet-corn: #F7EB7F;
$granny-smith-apple: #9ADF95;
$downey: #74CEB2;
$ivory: #FFFFF9;
