@font-face {
  font-family: 'unicorns';
  src: url('../fonts/unicorns_are_awesome.ttf') format('truetype');
  src: url('../fonts/unicorns_are_awesome.otf') format('opentype');
}

@font-face {
  font-family: 'tahu';
  src: url('/assets/fonts/tahu.ttf') format('truetype');
}
