.gallery {
  padding-left: 15px; // padding coming from <ul>
  padding-right: 15px; // padding coming from <ul>

  .gallery__figure {
    margin: 0;
  }

  .gallery__tile {
    padding: 2px;
    list-style: none;
  }

  .gallery__image {
    aspect-ratio: 1;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .gallery__caption {
    display: none;
  }
}
