#gallery {
  .insta-card {
    border: none;
    position: relative;

    .card-body {
      position: absolute;
      bottom: 0;
      left: 0;

      display: none;
      transition: all 0.3s;
      &:hover {
        display: block;
      }
    }

    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  $column-width: 16.66%;

  .gutter-sizer { width: 1%; }
  .grid-sizer, .grid-item { width: $column-width; margin-bottom: 5px; }
  .grid-item--width2 { width: 33.33%; }
}
