.home-html, .home-body {
  height: 100%;
}

.home-body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
}

.home {
  .home__navbar {
    margin-bottom: 0;
  }
}
