.navbar {
  #kuty-nav {
    color: map-get($theme-colors, "font");
    font-size: $font-size-lg;
  }

  background: linear-gradient(
    to bottom,
    $white-tr,
    map-get($theme-colors, "kuty")
  );
}
