.tarif {
  background-color: $pale-prim;
  border-radius: .6rem;

  .list-group-item {
    background: none;

    .list-group-item {
      padding: 0;
      border: none;
      span {
        margin-left: 1rem;
      }
    }
  }
  h5 {
    font-weight: bold;
  }

  .tarif__badge {
    color: var(--bs-body-color);
    background-color: $granny-smith-apple;
  }

  .prochainement {
    color: red;
  }
}
