.tarif {
  background-color: $pale-prim;

  .list-group-item {
    background: none;

    .list-group-item {
      padding: 0;
      border: none;
      span {
        margin-left: 1rem;
      }
    }
  }
  h5 {
    font-weight: bold;
    // color: map-get($theme-colors, 'font');
  }

  .tarif__badge {
    // color: $white;
    background-color: $granny-smith-apple;
  }

  .prochainement {
    color: red;
  }
}
