<!doctype html>
<html lang="en"{% if page.url == '/' %} class="homepage"{% endif %}>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="icon" type="image/gif" href="animated_favicon1.gif" >

    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">

    <link href="/assets/lightbox/lightbox.min.css" rel="stylesheet">

    <title>{{ page.title }} | Bee Kuty</title>
  </head>
  <body{% if page.url == '/' %} class="homepage"{% endif %}>
    {{ content }}

    {% include name_change_popup.html %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Masonry -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>

    <!-- lightbox -->
    <script src="/assets/lightbox/lightbox.min.js"></script>

    <!-- Custom scripts -->
    <script src="/assets/js/gallery.js"></script>
    <script src="/assets/js/modal_on_load.js"></script>
  </body>
</html>
